[user]
	email = bj.yueyang@gmail.com
	name = Alan Yue
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[core]
	excludesfile = /Users/alanyue/.gitignore_global
[push]
	default = simple
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[commit]
	template = /Users/alanyue/.stCommitMsg
[http]
	sslBackend = openssl
	proxy = socks5://127.0.0.1:7890
